.btn {
    border-radius: var(--main-round-border);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    padding: 0.37rem 0.75rem 0.37rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn_success {
    border-color: var(--border-success);
    background-color: var(--bg-success);
    color: white;
}
.btn_danger {
    border-color: #734141;
    background-color: #ff6363;
    color: white;
}
.btn_success:hover {
    background-color: var(--bg-hover-succes);
}