.form-vertical {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    padding: 15px;
    margin: 15px;
}
.form-vertical_round {
    border: 1px solid var(--color-silver-light);
    border-radius: var(--main-round-border);
}
.form__header {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 20px;
}
.form__input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--color-silver-light-2);
    border-radius: var(--main-round-border);
    height: 30px;
    margin-top: 5px;
    font-size: 1em;
    padding: 2px 10px 2px 10px;
}

.form__input_error {
    color: var(--red);
    border-color: var(--red);
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form__textarea {
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
    border: 1px solid var(--color-silver-light-2);
    border-radius: var(--main-round-border);
    margin-top: 5px;
    font-size: 1em;
    padding: 10px 10px 10px 10px;
    height: 50px;
    min-height: 50px;
}
.form__group:last-child {
    margin-bottom: 0;
}
